.bannerContainer {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  letter-spacing: 1px;
  width: 100%;
  color: rgb(20, 20, 120);
  font-style: italic;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
}

.bannerContainer button {
  padding: 20px;
  border-radius: 20px;
  border: none;
  background-color: rgb(30, 30, 165);
  color: white;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 15px;
}

.bannerContainer button:hover {
  background-color: rgb(20, 20, 120);
  cursor: pointer;
}
