.bannerContainer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  letter-spacing: 1px;
  width: 100%;
  color: rgb(20, 20, 120);
  font-style: italic;
}
