.container {
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0px 200px 0px;
  gap: 20px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 28px;
  text-shadow: 2px 2px 2px black;
}
.title span {
  color: rgb(255, 18, 255);
}

.boxesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.singleBox {
  height: 300px;
  width: 400px;
  border: 2px solid rgb(240, 240, 255);
  margin: 10px 0;
  box-shadow: 5px 5px 15px gray;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.579);
  transform: translateY(-8px);
  transition: transform 0.3s ease;
}

.singleBox:hover {
  box-shadow: 5px 5px 15px rgb(255, 18, 255);
  transform: translateY(0);
}
