.bannerContainer {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  letter-spacing: 1px;
  width: 100%;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-style: italic;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.579);
}

.bannerContainer h2 {
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 2px 2px 2px black;
}

.bannerContainer button {
  padding: 20px 60px;
  border-radius: 20px;
  border: none;
  background-color: rgb(255, 18, 255);
  box-shadow: 2px 2px 2px black;
  color: white;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 15px;
}

.bannerContainer button:hover {
  background-color: rgb(255, 18, 255, 0.8);
  cursor: pointer;
}
