.bannerContainer {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  letter-spacing: 1px;
  width: 100%;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-style: italic;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  background-color: var(--transparent-background);
}

.bannerContainer h2 {
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 2px 2px 2px black;
}

.bannerContainer button {
  background: var(--pink-button-color);
  color: white;
  font-weight: bold;
  padding: 16px 32px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 8px 20px var(--pink-shadow-color);
  animation: pulseAttention 2.5s infinite;
}

.bannerContainer button:hover {
  background: var(--pink-button-hover-color);
}

@keyframes pulseAttention {
  0% {
    transform: translateY(0px);
  }

  10% {
    transform: translateY(-8px);
  }

  20% {
    transform: translateY(0px);
  }

  30% {
    transform: translateY(-4px);
  }

  40% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}
