.container {
  background-color: rgb(240, 240, 255);
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.container h2 {
  font-size: 2.5rem;
  color: rgb(30, 30, 165);
  margin-bottom: 20px;
  border-bottom: 4px solid rgb(30, 30, 165);
  padding-bottom: 5px;
}

.header {
  padding: 40px;
}
