.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.455);
  padding: 10px;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin-top: 10px;
}

.header span {
  font-size: 35px;
  font-weight: bold;
  color: rgb(44, 44, 220);
  letter-spacing: 1px;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header a {
  color: white;
}

.header a:hover {
  text-decoration: underline;
}

.header h2 {
  cursor: pointer;
}
.header h2:hover {
  text-decoration: underline;
}
