.container {
  background-color: rgba(0, 0, 0, 0.658);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  width: 88px;
  height: 88px;
  animation: spin 1s linear infinite;
}

.loader span {
  position: absolute;
  width: 24px;
  height: 24px;
  background: #3b82f6;
  border-radius: 50%;
}

.loader span:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.loader span:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.loader span:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.loader span:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
