.questContainer {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 20px;
  border-color: rgb(30, 30, 165);
}

.header {
  flex: 1;
  padding: 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
  letter-spacing: 1px;
  color: rgb(30, 30, 165);
  font-weight: bolder;
  border-color: rgb(30, 30, 165);
}
.header:hover {
  background-color: white;
  text-decoration: underline;
}

.content {
  flex: 1;
  border-top: 1px solid black;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  border-color: rgb(30, 30, 165);
  font-style: italic;
  letter-spacing: 1px;
}
