.questContainer {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.header {
  flex: 1;
  padding: 20px;
  cursor: pointer;
  width: 100%;
}

.content {
  flex: 1;
  border-top: 1px solid black;
  width: 100%;
  padding: 20px;
}
