.container {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.title span {
  color: rgb(30, 30, 165);
}

.boxesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.singleBox {
  height: 300px;
  width: 400px;
  border: 2px solid rgb(240, 240, 255);
  margin: 10px 0;
  box-shadow: 3px 3px 10px gray;
  border-radius: 20px;
}
