.container {
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 25px;
  text-shadow: 2px 2px 2px black;
}
.title span {
  color: rgb(255, 18, 255);
}

.boxesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.singleBox {
  height: 300px;
  width: 400px;
  border: 2px solid rgb(240, 240, 255);
  margin: 10px 0;
  box-shadow: 3px 3px 10px gray;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.579);
}
