.bannerContainer {
  width: 100%;
  height: 500px;
  display: flex;
  background-color: rgb(240, 240, 255);
}

.leftSide {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  word-spacing: 10px;
}

.titleContainer button {
  height: 40px;
  background-color: rgb(30, 30, 165);
  width: 250px;
  margin: auto;
  border: none;
  color: white;
  letter-spacing: 2px;
  border-radius: 5px;
}
.titleContainer button:hover {
  cursor: pointer;
  background-color: rgb(20, 20, 120);
}

.titleContainer a {
  color: white;
}
.titleContainer h2 {
  font-size: 40px;
}
.titleContainer h2 span {
  font-size: 45px;
  color: rgb(30, 30, 165);
}

.titleContainer h4 {
  color: gray;
}

.rightSide {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageContainer {
  height: 350px;
  width: 550px;
  background-image: url("https://jpimg.com.br/uploads/2023/05/entenda-como-adotar-habitos-saudaveis-muda-a-vida.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 4px 4px 4px rgb(200, 200, 200);
}
