.bannerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 100px;
  width: 100%;
}

.leftSide {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  word-spacing: 10px;
  text-shadow: 2px 2px 2px black;
}

.titleContainer button {
  height: 50px;
  background-color: rgb(255, 18, 255);
  width: 250px;
  font-size: 18px;
  border: none;
  color: white;
  letter-spacing: 2px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px black;
}
.titleContainer button:hover {
  cursor: pointer;
  background-color: rgba(255, 65, 255, 0.8);
}

.titleContainer a {
  color: white;
  margin: auto;
}
.titleContainer h2 {
  font-size: 65px;
  letter-spacing: 2px;
}
.titleContainer h2 span {
  color: rgb(255, 18, 255);
}

.titleContainer h4 {
  color: white;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  word-spacing: 2px;
}

.rightSide {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageContainer {
  height: 350px;
  width: 550px;
  background-image: url("https://jpimg.com.br/uploads/2023/05/entenda-como-adotar-habitos-saudaveis-muda-a-vida.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.822);
  border-radius: 40px;
}
