.accountContainer {
  border: 2px solid gray;
  width: 400px;
  min-height: 500px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}
.header h2 {
  color: rgb(178, 178, 255);
  border-bottom: 2px solid rgb(145, 145, 247);
  padding-bottom: 5px;
}
.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 5px;
}
.formContainer form div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.formContainer form div div {
  height: 20px;
  color: red;
  font-size: 12px;
  text-align: center;
}

.formContainer label {
  color: gray;
  padding-left: 5px;
}
.formContainer input {
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0px 10px;
  outline: none;
}
.formContainer button {
  width: 100%;
  height: 40px;
  background-color: rgb(178, 178, 255);
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.formContainer button:hover {
  background-color: rgb(145, 145, 247);
  cursor: pointer;
}
