.accountContainer {
  border: 1px solid white;
  width: 400px;
  min-height: 500px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.691);
}

.header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}
.header h2 {
  color: rgb(113, 113, 252);
  border-bottom: 2px solid rgb(113, 113, 252);
  padding-bottom: 5px;
  font-size: 30px;
}
.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 5px;
}
.formContainer form div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.formContainer form div div {
  height: 20px;
  color: red;
  font-size: 12px;
  text-align: center;
}

.formContainer label {
  color: white;
  padding-left: 5px;
  margin-bottom: 5px;
}
.formContainer input {
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0px 10px;
  outline: none;
}
.formContainer button {
  width: 100%;
  height: 40px;
  background: var(--pink-button-color);
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 5px 5px 10px var(--pink-shadow-color);
}

.formContainer button:hover {
  background: var(--pink-button-hover-color);
  cursor: pointer;
}
