.accountContainer {
  border: 2px solid gray;
  width: 400px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}
.header h2 {
  color: rgb(178, 178, 255);
  border-bottom: 2px solid rgb(145, 145, 247);
  padding-bottom: 5px;
}

.accountContainer .formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.accountContainer .formContainer form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 40px;
}
.accountContainer .formContainer form div {
  display: flex;
  flex-direction: column;
}

.accountContainer .formContainer form div label {
  font-size: 18px;
  color: gray;
  padding-left: 10px;
}

.accountContainer .formContainer form div input {
  width: 250px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid gray;
  outline: none;
  padding: 15px;
}

.accountContainer .formContainer form button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(145, 145, 247);
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin: auto;
}
.accountContainer .formContainer form button:hover {
  background-color: rgb(120, 120, 220);
}
