.container {
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.container h2 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 20px;
  border-bottom: 5px solid white;
  padding-bottom: 5px;
  text-shadow: 2px 2px 2px black;
  letter-spacing: 1px;
}

.header {
  padding: 40px;
}
